nav{
  flex: 3;
  margin: auto;
}
.navigation-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#D44500;
  
}
.navigation-bar li {
  float: left;
  display: inline-block;
  
}
.navigation-bar li a {
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navigation-bar li a:hover {
  background-color: cornsilk;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;  
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;  
}
.row{
    display:flex;
}
blockquote {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
dl{
  font-family: "Lucida Console", "Courier New", monospace;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.8;
  text-align: center;
  background-color: oldlace;
  font-weight: bold;
  font-size: 15pt;
}
dd{
  font-family: "Lucida Console", "Courier New", monospace;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.5;
  color: black;
  text-align: center;
  font-size: 12pt;
}
figcaption{
  font-family: "Times New Roman", Times, serif;
  color: black;
}
p{
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  text-align: left;
  font-size: 25pt;
}
iframe{
  padding: 30px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 8px;
  background-color: red;  
}
.col{
    flex:1;
}
.page-container {width: 1024px; margin: 0 auto; padding: 0;}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:155px;
  height:250px;
  padding: 30px;
  border: 1px solid white;
  background-color: #D44500;"
}
.spaced-list{
  background-color: lightgrey;
  font-size: 20pt;
  line-height: 2;
}
.sitename{
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  flex: 2;
  padding: 10px;
}
header{
  background-color: #D44500;
  display: flex;
  padding: 10px;
}
footer{
  background-color: #D44500;
  display: flex;
  padding: 10px;
  float: initial;
}
#search{
  flex: 1;
  float: right;
  margin: 15px;
}
.image-row {
    display: flex;
}
.image-column {
  flex: 1;
  width: 100%;
  padding: 5px;
}
